.container {
    background-color: #f9ff57;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main .block-container {
    background-color: #1e1e1e;
    padding-top: 3rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.controls-container {
    background-color: #f9ff57;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}